<div>
  <h2 style="text-align:center;">
    Welcome to Bass, fast food delivery service and restaurant!
  </h2>
  <div id="container">
    <table>
      <tr>
        <td>
          <img
            class="img-of"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7a/Various_sushi%2C_beautiful_October_night_at_midnight.jpg/274px-Various_sushi%2C_beautiful_October_night_at_midnight.jpg"
          />
        </td>
        <td>
          <img
            class="img-of"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Big_Mac_hamburger.jpg/200px-Big_Mac_hamburger.jpg"
          />
        </td>
        <td>
          <img
            class="img-of"
            src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7b/Vegetarian-pizza-top.jpg/600px-Vegetarian-pizza-top.jpg"
          />
        </td>
      </tr>
      <tr>
        <td>
          <h3>Sushi</h3>
        </td>
        <td>
          <h3>Burger</h3>
        </td>
        <td>
          <h3>Pizza</h3>
        </td>
      </tr>
      <tr>
        <td>
          <p>Our cookers cook the sushi with the love</p>
        </td>
        <td>
          <p>Our cookers cook the burger with the love</p>
        </td>
        <td>
          <p>Our cookers cook the pizza with the love</p>
        </td>
      </tr>
    </table>

    <div style="margin-top:30px; background-color: whitesmoke;">
      <h3>
        About our Shop!
      </h3>
      <p>We have been working since 2020.</p>
      <p>
        <b>Our mission</b> is to bring joy to people with delicious and fresh
        food.
      </p>
      <p>
        <b>Our goal</b> is to make the Client happy. And our task is to try to
        achieve this goal. So that the delivery of our food can be carried out
        without interruptions and weekends, we select professionals in their
        field, who wholeheartedly support the Company.
      </p>
      <h1>
        If you have ordered please submit the
        <a routerLink="/survey" class="button fancy-button">survey</a>!!
      </h1>
    </div>
  </div>
</div>