<div class="header">
  <div style="float: left; padding-left: 150px;">
    <img
      style="height: 150px;"
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/9b/Bass_logo.svg/170px-Bass_logo.svg.png"
    />
  </div>
  <div style="padding-top: 35px; padding-right: 50px;">
    <a class="header-items" routerLink="/home">Main</a>
    <a class="header-items" routerLink="/menu">Menu</a>
    <a class="header-items" routerLink="/sale">Sales</a>
    <a class="header-items" routerLink="/contacts">Contacts</a>

    <a routerLink="/shop" class="button fancy-button">
      <img
        class="like"
        src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c5/Shop_teal_pink_purple_shop_clipart_png.png/220px-Shop_teal_pink_purple_shop_clipart_png.png"
      />
    </a>
    <a routerLink="/login" class="button fancy-button">
      <img
        class="like"
        src="https://lh3.googleusercontent.com/proxy/cS_tb7eYs-T04UD9wtyaN5kkeyAstI20KpW5sE4SRZZt-Yf_mviqjqgisPdbSZK9OJzNAZff3SXlkJ_9tvadXIbqtn5VstM"
      />
    </a>
    <hr />
  </div>
</div>