.footer {
  text-align: center;
  background-color: black;
  width: 101%;
  height: 50px;
}
footer {
  color: white;
  padding-top: 5px;
  font-size: 13px;
  margin-top: 50px;
}
a {
  text-decoration: none;
  color: white;
}
