.container {
  padding-left: 100px;
  padding-right: 80px;
  height: 500px;
}
.menu-item {
  height: 300px;
  margin-left: 15px;
  margin-top: 15px;
  background-color: white;
}
.cost {
  margin-top: 50px;
  padding-left: 10px;
}
.text {
  padding-left: 25px;
}
.img {
  width: 200px;
  height: 200px;
  padding-top: 15px;
  float: left;
}
button {
  background-color: blue;
  border: none;
  padding: 10px;
  color: white;
  border-radius: 5px;
  margin-right: 10px;
}
p {
  padding-left: 15px;
}
