<h1 style="text-align:center;">Here you can see the possible and active special offers!</h1>

<div>
  <img
    class="kupon"
    src="https://static7.depositphotos.com/1013693/727/v/950/depositphotos_7273122-stock-illustration-golden-gift-certificate-or-discount.jpg"
  />
  <div class="text-block">
    <h1>-10%</h1>
    <h3>For users, who subsribed our Instagram account</h3>
    <button (click)="getSale()"> Get offer </button> 
  </div>
</div>
<div>
  <img
    class="kupon"
    src="https://static7.depositphotos.com/1013693/727/v/950/depositphotos_7273122-stock-illustration-golden-gift-certificate-or-discount.jpg"
  />
  <div id="id2" class="text-block">
    <h1>-15%</h1>
    <h3>For orders more than 50000tg</h3>
    <button (click)="getSale()"> Get offer </button>
  </div>
</div>
